.toDo {
  font-family: cairo !important;
  min-height: 100svh;
  background-color: #17191B;
  color: white;
  position: relative;
}

@font-face {
  font-family: cairo;
  src: url("/public/fonts/Cairo/Cairo-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: cairo;
  src: url("/public/fonts/Cairo/Cairo-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: cairo;
  src: url("/public/fonts/Cairo/Cairo-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: cairo;
  src: url("/public/fonts/Cairo/Cairo-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: cairo;
  src: url("/public/fonts/Cairo/Cairo-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: cairo;
  src: url("/public/fonts/Cairo/Cairo-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: cairo;
  src: url("/public/fonts/Cairo/Cairo-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: cairo;
  src: url("/public/fonts/Cairo/Cairo-Black.ttf");
  font-weight: 900;
}