.box {
    background-color: white;
    color: black;
    text-align: center;
    padding: 0 20px;
    border-radius: 10px;
    min-height: 350px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    max-height: 80vh;
    /* margin: 30px 0; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    direction: rtl;
}

.title {
    position: relative;
}

.title h1 {
    font-size: 70px;
    position: relative;
    z-index: 3;
}

@media (max-width: 767px) {
    .title h1 {
        font-size: 50px;
    }
}

.title>hr {
    position: absolute;
    bottom: 10%;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border-color: #f2f2f2af;
}

.options {
    padding-top: 15px;
    justify-content: center;
    margin-bottom: 25px;
}

/* .options .selected {
    background-color: #ffc0d09a;
} */

.tasks {
    overflow-y: scroll;

    /* For Internet Explorer, Edge, and older versions of Opera */
    -ms-overflow-style: none;

    /* For Firefox */
    scrollbar-width: none;
}

/* For Chrome, Safari, newer versions of Edge, and other WebKit browsers */
.tasks::-webkit-scrollbar {
    display: none;
}

.tasks .noTasks {
    margin-top: 20px;
    font-size: larger;
    font-weight: 300;
}

.tasks .task {
    color: white;
    padding: 20px 15px;
    border-radius: 10px;
    text-align: right;
    background-color: var(--primary-dark);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.tasks .task:not(:last-child) {
    margin-bottom: 25px;
}

.tasks .task h2 {
    font-size: 20px;
    font-weight: 500;
}

.tasks .task h4 {
    font-size: 18px;
    font-weight: lighter;
}

@media (max-width: 767px) {
    .tasks .task h2 {
        font-size: 16px
    }

    .tasks .task h4 {
        font-size: 13px
    }
}

.tasks .task .icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks .task .icons .icon {
    padding: 3px;
    margin: 0 5px;
    transition-duration: 0.3s;
}

@media (max-width: 767px) {
    .tasks .task .icons .icon {
        padding: 2px;
        margin: 0 3px;
    }
}

.tasks .task .icons .icon:hover {
    background-color: rgba(240, 240, 240, 0.829);
}

.tasks .task .icons .icon1 {
    color: brown;
    background-color: white;
    border: 2px solid brown;
}

.tasks .task .icons .icon2 {
    color: #365A78;
    background-color: white;
    border: 2px solid #365A78;
}

.tasks .task .icons .icon3 {
    color: #92A86F;
    background-color: white;
    border: 2px solid #92A86F;
}

.add {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 25px;
    padding-bottom: 20px;
    gap: 10px;
}

.add .btnTitle {
    font-size: 20px;
}

@media (min-width: 768px) {
    .warningTitle {
        min-width: 350px !important;
    }

    .editTask {
        min-width: 250px !important;
    }
}

.warningbtns button,
.editTaskbtns button {
    font-size: 15px;
    font-weight: bold;
    transition-duration: 0.5s;
}

/* .warningbtns button:hover {
    background-color: #ffc0d09a;
} */

@media (max-width: 767px) {
    .warningTitle {
        font-size: 16px !important;
    }
    .warningDetails {
        font-size: 13px !important;
    }
    .warningbtns button,
    .editTaskbtns button {
        font-size: 13px !important;
    }
}